/*src\components\InfoAluno\style.css*/

.TelaAluno {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: bisque;  
    width: 100vw;
    height: 100vh;
}   