

.container-footer {
    background-color: cornflowerblue;
    padding: 20px;
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

footer{
    height: 100px;
    width: 100vw;
}